#!/data/data/com.termux/files/usr/bin/sh
# Jenkins service run script for termux-services (runit/sv)
# Managed by Ansible - jenkins-controller role

exec {{ java_bin }} \
  -Djava.awt.headless=true \
  -Xmx512m \
  -Xms256m \
  -jar {{ jenkins_war }} \
  --httpPort={{ jenkins_port }} \
  --httpListenAddress=0.0.0.0 \
  2>&1
